modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "npx"

[[workflows.workflow]]
name = "npx"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx @insforge/cli link --project-id 6bf4ec46-1aac-46ee-b11f-b3e22cd39d50"

[workflows.workflow.metadata]
isValidation = true

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
INSFORGE_API_BASE_URL = "https://smvf3cap.ap-southeast.insforge.app"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 21118
externalPort = 3000

[[ports]]
localPort = 23708
externalPort = 3001
